body{
  margin: 0 auto;
  text-align: center;
  background: gray;
  padding: 1em 1em;
}
.chat-box{
  background: white;
  height: 500px;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  overflow-y: scroll;
}
.message{
  background: #F6CECE;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 1em;
}
.message h1{
  text-align: left;
  margin: 5px 0 0 0;
}
.message img{
  float: left;
}
.message .date{
  float: right;
}
.write-box{
  width: 80%
  margin: 0 0;
}
.write-box textarea{
  width: 70%;
}
.write-box button{
  width: 10%;
  height: 101px;
}
